<div id="<%= dom_id client_like %>">

  <% service = Service.find_by(id: client_like.service_id) %>
  <p>
    <strong>Service:</strong>
    <%= service.title %>
  </p>

  <p>
    <strong>Service type:</strong>
    <%= service.service_type %>
  </p>
</div>
